<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backoffice Login</title>
    <% include ../essentials/styles %>
  </head>
  <body>
    <% include ../components/flash %>
    <div id="login-page">
        <div class="container">
              <form class="form-signin" action="/backoffice/login" method="post">
                <h2 class="form-signin-heading">Sign in to Backoffice</h2>
                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus name="email">
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required name="password">

                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
              </form>
        </div> <!-- /container -->
    </div>
  </body>
</html>
